{% extends "templates/web.html" %}
{% set full_width=1 %}
{% set title = heading or "LifeLine Ambulance" %}

{% block page_content %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
                data-aos="fade-up" data-aos-delay="200">
                <h1>LifeLine Ambulance</h1>
                <h2>Always in Safe Hands</h2>
                <div class="d-lg-flex">
                    <a href="#about" class="btn-get-started scrollto">Get Started</a>
                    <!-- <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox btn-watch-video" data-vbtype="video" data-autoplay="true"> Watch Video <i class="icofont-play-alt-2"></i></a> -->
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                <img src="assets/lifelineamb/img/Ambulance_tr.png" class="img-fluid animated" alt="">
            </div>
        </div>
    </div>

</section><!-- End Hero -->

<!-- ======= About Us Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>About Us</h2>
        </div>

        <div class="row content">
            <div class="col-lg-6">
                <div class="content">
                    <h3>At Lifeline Ambulance Services</h3>
                    <p style="text-align: justify;">
                        We know the value of Life. To save a life is like saving the whole of humanity for us. We
                        provide integrated, high quality,
                        medical transportation by upgrading and digitalizing the traditional channels that were used to
                        seek help.
                    </p>
                    <p style="text-align: justify;">
                        We strive to provide well-equipped and well-maintained ambulances at competitive prices within
                        minutes, assisting the everyday
                        superheroes to reach the patients faster and help them in the golden hours of emergency !
                    </p>
                </div>
            </div>

            <div class="col-lg-6 pt-4 pt-lg-0">
                <div class="row">
                    <div class="col-lg-6 pt-4 pt-lg-0">
                        <div>
                            <img src="https://lifelineambulance.in/files/DrSameerAhmed.png" height="256px">
                            <div class="doctor_profile_name">Dr. Sameer Ahmed</div>
                            <div class="doctor_profile_title">Director, MBBS, MD (Anaesthesia)</div>
                        </div>
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0">
                        <div>
                            <img src="https://lifelineambulance.in/files/Manager_Transparent.png" height="256px">
                            <div class="doctor_profile_name">Abul Sameem</div>
                            <div class="doctor_profile_title">Manager</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br><br>

        <div class="row content">
            <div class="col-lg-6">
                <div class="content">
                    <h3>Why Us?</h3>
                    <p style="text-align: justify;">
                        Every Patient will be personally assessed and all the required provisions will be made available
                        in the ambulance like
                    </p>
                    <ul>
                        <li><i class="ri-check-double-line"></i> ICU Standard US FDA Approved Ventilator <a
                                href="https://lifelineambulance.in/files/Flight60-12.19.pdf" target="_blank">(Flight
                                60)</a></li>
                        <li><i class="ri-check-double-line"></i> Staffed by Trained Doctor and EMS Staff </li>
                        <li><i class="ri-check-double-line"></i> Multi-Para Monitor </li>
                        <li><i class="ri-check-double-line"></i> Syringe Pumps </li>
                        <li><i class="ri-check-double-line"></i> Bi-Phasic Defibrillator </li>
                        <li><i class="ri-check-double-line"></i> Suction Pump </li>
                        <li><i class="ri-check-double-line"></i> Glucometer </li>
                        <li><i class="ri-check-double-line"></i> Blood Pressure Cuffs </li>
                        <li><i class="ri-check-double-line"></i> Emergency Drugs </li>
                        <li><i class="ri-check-double-line"></i> AIS-125D Certified Auto Loading Stretcher </li>
                        <li><i class="ri-check-double-line"></i> Fully Air-Conditioned with well-set Interiors </li>
                        <li><i class="ri-check-double-line"></i> GPS Tracking System </li>
                        <li><i class="ri-check-double-line"></i> Fitted with CCTV for Monitoring during Transfers </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-6 flight">
                <img src="https://lifelineambulance.in/files/Flight60.jpeg">
            </div>
        </div>

    </div>
</section><!-- End About Us Section -->

<!-- ======= Cta Section ======= -->
<section id="cta" class="cta">
    <div class="container" data-aos="zoom-in">

        <div class="row">
            <div class="col-lg-9 text-center text-lg-left">
                <h3>Call To Action</h3>
                <p> We are ready 24/7 to help you in the golden hours of emergency.</p>
            </div>
            <div class="col-lg-3 cta-btn-container text-center">
                <a class="cta-btn align-middle" href="tel:+919132432491">Call Us</a>
            </div>
        </div>

    </div>
</section><!-- End Cta Section -->

<!-- ======= Services Us Section ======= -->
<section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Our Services</h2>
            <p>We help you reach hospital in the golden hours of Emergency.</p>
        </div>

        <ul>
            <li><i class="ri-check-double-line"></i> Prompt, High Quality Emergency Medical Services </li>
            <li><i class="ri-check-double-line"></i> 24x7 Mobile ICU Services </li>
            <li><i class="ri-check-double-line"></i> Freezer Box for Transferring Departed Souls </li>
            <li><i class="ri-check-double-line"></i> Inter Hospital Transfers </li>
            <li><i class="ri-check-double-line"></i> Stand-by at Special Events </li>
            <li><i class="ri-check-double-line"></i> Specialised Inter-City Transport Services </li>
            <li><i class="ri-check-double-line"></i> Honest and Effective Communication with Patients and Customers
            </li>
            <li><i class="ri-check-double-line"></i> Ensuring that Patient’s and Customer’s right to privacy are
                respected </li>
            <li><i class="ri-check-double-line"></i> Ensuring Best Response Times for Emergency Transport </li>
        </ul>
    </div>
</section><!-- End Services Section -->

<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Our Ambulance</h2>
            <p>Well Equipped and Professionally Designed Ambulance.</p>
        </div>

        <ul id="portfolio-flters" class="d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
            <li data-filter="*" class="filter-active">All</li>
            {% if categories %} {% for cat in categories %}
            <li data-filter=".filter-{{cat['category']}}">{{cat['category']}}</li>
            {% endfor %}{% endif %}
        </ul>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
            {% if gallery_images %} {% for image in gallery_images %}
            <div class="col-lg-4 col-md-6 portfolio-item filter-{{image['category']}}">
                <div class="portfolio-img"><img loading=lazy src="{{image['image']}}" class="img-fluid" alt="">
                </div>
                <div class="portfolio-info">
                    <h4>{{image['title']}}</h4>
                    <a href="{{image['image']}}" data-gall="portfolioGallery" class="venobox preview-link"
                        title="{{image['title']}}"><i class="bx bx-plus"></i></a>
                </div>
            </div>
            {% endfor %} {% endif %}
        </div>

    </div>
</section><!-- End Portfolio Section -->

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Contact</h2>
            <p>Get in touch with us. Your feedback is valuable to us to improve our services.</p>
        </div>

        <div class="row">

            <div class="col-lg-5 d-flex align-items-stretch">
                <div class="info">
                    <div class="address">
                        <i class="icofont-google-map"></i>
                        <h4>Location:</h4>
                        <p> Shop #4, Plot #1, Sy #25
                            Kotnoor-D Layout, Laxminarayan Nagar, Old Jewargi Road,
                            Near Hussain Masjid, Kalabuargi-585102
                        </p>
                    </div>

                    <div class="email">
                        <i class="icofont-envelope"></i>
                        <h4>Email:</h4>
                        <p>lifelineambulanceglb@gmail.com</p>
                    </div>

                    <div class="phone">
                        <i class="icofont-phone"></i>
                        <h4>Call:</h4>
                        <p>91 324 324 91</p>
                    </div>

                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3809.156378019058!2d76.82121371487524!3d17.308002488126178!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTfCsDE4JzI4LjgiTiA3NsKwNDknMjQuMyJF!5e0!3m2!1sen!2sin!4v1610359303128!5m2!1sen!2sin"
                        width="100%" height="300" frameborder="0" style="border:0;" allowfullscreen=""
                        aria-hidden="false" tabindex="0"></iframe>

                </div>

            </div>

            <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                <form action="" method="post" role="form" class="contactForm">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="name">Your Name</label>
                            <input type="text" name="name" class="form-control" id="name" data-rule="minlen:4"
                                data-msg="Please enter at least 4 chars" />
                            <div class="validate"></div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="name">Your Email</label>
                            <input type="email" class="form-control" name="email" id="email" data-rule="email"
                                data-msg="Please enter a valid email" />
                            <div class="validate"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name">Subject</label>
                        <input type="text" class="form-control" name="subject" id="subject" data-rule="minlen:4"
                            data-msg="Please enter at least 8 chars of subject" />
                        <div class="validate"></div>
                    </div>
                    <div class="form-group">
                        <label for="name">Message</label>
                        <textarea class="form-control" name="message" rows="10" data-rule="required"
                            data-msg="Please write something for us"></textarea>
                        <div class="validate"></div>
                    </div>
                    <div class="mb-3">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Your message has been sent. Thank you!</div>
                    </div>
                    <div class="text-center"><button type="submit">Send Message</button></div>
                </form>
            </div>
        </div>
    </div>
</section><!-- End Contact Section -->
{% endblock %}