<!-- ======= Header ======= -->
<header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

        <!-- <h1 class="logo mr-auto"><a href="index.html">LifeLine</a></h1> -->
        <!-- Uncomment below if you prefer to use an image logo -->
        <a href="/" class="logo mr-auto"><img src="https://lifelineambulance.in/files/logo_trans.png" alt=""
                class="img-fluid"></a>

        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#portfolio">Gallery</a></li>
                <li><a href="#contact">Contact</a></li>

            </ul>
        </nav><!-- .nav-menu -->

        <a href="tel:+919132432491" class="fa fa-phone get-started-btn scrollto"> 91 324 324 91</a>

    </div>
</header><!-- End Header -->